@import url(https://fonts.googleapis.com/css?family=Tenor+Sans|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);

body { /* Наследование стиля шрифта  */
    margin: 0;
    padding: 0;
    font-family: 'Tenor Sans', sans-serif !important;
    min-width: 1200px;
    overflow-x:  hidden;
}

p {
    font-size: 1em;
    font-weight: 300;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

header {
    width: 100%;
    height: 90px;
    background-image: url("../img/itmo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h3 {
    display: inline;
    position: absolute;
    margin: 1% 0.5%;
    height: 60px;
    width: 550px;
    background-image: url("../img/gif.gif");
    color: rgb(236, 225, 241);
    font-size: 1.6em;
    line-height: 1.7em; /* расстояние между строками */
    font-weight: 100;
}

#title {
    text-align: center;
    color: rgb(60, 16, 44);
    font-size: 1.6em;
    font-family: 'Tenor Sans', sans-serif;
}

#container {
    height: 450px;
}

#picture {
    float: left;
    padding: 3% 10%;
    width: 20%;
    height: 280px;
}

#content {
    float: right;
    padding: 3% 3%;
    width: 53%;
    height: 270px;
}

#form , canvas {
    padding: 0.5%;
    position: relative;
    text-align: center;
}

#form {
    margin: 61px 61px 5px 61px;
    width: 620px;
    text-align: left;
}

.form_toMain{
    margin: 5px 61px 5px 62px;
}

.form_input  {

    background: rgb(60, 16, 44);
    padding: 1%;
    width: 50%;
    margin: 0.5%;
    display: block;

    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    outline: none;

    font-size: 1em;
    font-weight: 300;

    transition: transform 0.3s ease-out;
}


.form_input:focus {
    transition: transform 0.3s ease-out;
    transform: scale(1.02, 1.02);
    background: rgb(255, 162, 211);
}

/*подсказка*/
.message{

}

/*radioButtons*/
.radio {
    position: relative;
    margin-bottom: 1rem;
}


.radio input[type=radio] {
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем стандартные кружочки */
    position: absolute;
}

.radio label {
    padding-left: 25px;/* отступ слева */
    font-size: 1rem;
    color: #3c102c;
    cursor: pointer; /* курсор рука */

}
.radio label:before {
    content: "";
    display: block; /* не в строку */
    width: 16px; /* ширина блока */
    height: 16px;/* высота блока */
    border: 1px solid #3c102c;/* рамка */
    background-color: #ffcde8; /* цвет фона */
    border-radius: 50%;/* получаем круг */
    position: absolute;/* расположен точно в родителе */
    top: 0; /* расстояние от верха родителя */
    left: 0;/* расстояние слева от родителя */
    z-index: 1; /* на нижнем слое */
    transition: border .1s linear;/* плавный переход для border */
}

.radio label:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: rgb(60, 16, 44);
    border-radius: 50%;
    opacity: 0; /* полностью прозрачный */
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;/* на верхнем слое */
    transition: opacity .1s linear; /* плавный переход для opacity */
}


/* Checked */
.radio input[type=radio]:checked + label:before {
    border-color: rgb(60, 16, 44);
}


.radio input[type=radio]:checked + label:after {
    opacity: 1;
}

/* Hover */
.radio label:hover:before {
    filter: brightness(120%);
    border-radius: 50%;
    border-color: rgb(60, 16, 44);
}

/*Buttons*/
input[type="submit"] {
    display: inline ;
    margin: 0.5% ;
    padding: 1% 2% ;
    text-transform: uppercase ;
    color: #fff ;
    border: none ;
    border-radius: 8px ;
    outline: none ;

    background-color: rgb(60, 16, 44) ;
    background-clip: border-box ;
    font-size: 1em ;
    font-weight: 700 ;
}

input[type="submit"]:hover {
    transition: all 0.3s ease-out ;
    transform: scale(1.02, 1.02)  ;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 16px 2px ;
    background: rgb(255, 162, 211) ;
}

button {
    display: inline !important;
    margin: 0.5% !important;
    color: #fff !important;
    border: none !important;
    border-radius: 8px !important;
    outline: none !important;

    background-color: rgb(60, 16, 44) !important;
    background-clip: border-box !important;
    font-size: 1em !important;
    font-weight: 700 !important;
}

button:hover {
    transition: all 0.3s ease-out !important;
    transform: scale(1.02, 1.02) !important ;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 16px 2px !important;
    background: rgb(255, 162, 211) !important;
}



/*Поле ответа*/
#answer {

    padding: 1%;
    background-image: url("../img/itmo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;

}

.tabelArea {
    height: 400px;
    overflow-y:auto;
}

table.answer_table {
    text-align: center;
    margin: auto;
    font-weight: 200;
    color: #0f0f0f; /* цвет шрифта наследуется всеми тэгами td таблицы */
}


table.answer_table  thead th {
    background: rgb(255, 197, 254);
    width: 100px;
}

table.answer_table  tbody tr:nth-child(1n) {
    background: rgb(255, 162, 211);
}

table.answer_table tbody tr:nth-child(2n) {
    background: rgba(255, 162, 211,0.5);
}

table.answer_table tr td {
    border-right: 1px solid #dfdfdf;
}

.tdScroll {
    width:65px;
    overflow:auto;
    text-align: center;
    margin:0 auto;
}

.tdScroll::-webkit-scrollbar-track , ::-webkit-scrollbar-track{
    background-color: rgba(13, 0, 60, 0.17);
    box-shadow:1px 1px 3px #ffcde8 inset;
    margin: 3px;

}

.tdScroll::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb { /* цвет бегунка полосы, а так же его закругление. */
    background-color: rgb(60, 16, 44);
}

.tdScroll::-webkit-scrollbar , ::-webkit-scrollbar {  /*Основная ширина полосы прокрутки.*/
    height: 6px;
}
